[submodule "thirdparty/zsh-git-escape-magic"]
	path = thirdparty/zsh-git-escape-magic
	url = https://github.com/knu/zsh-git-escape-magic
[submodule "thirdparty/git-aliases"]
	path = thirdparty/git-aliases
	url = https://github.com/peterhurford/git-aliases.zsh.git
[submodule "thirdparty/n-navigation"]
	path = thirdparty/n-navigation
	url = https://github.com/psprint/zsh-navigation-tools.git
